$color_1: #212741;
$color_2: #fff;
$color_3: #5d5d5c;
$color_4: #ff511a;
$color_5: #2a2a2a;
$color_6: #1e1e1e;
$color_7: #000;
$color_8: #191a20;
$color_9: #3B566E;
$color_10: #43ba7f;
$color_11: #282b2b;
$color_12: #797978;
$font-family_1: 'Poppins', sans-serif;
$font-family_2: FontAwesome;
$font-family_3: "Rochester", cursive;
$background-color_1: #fff;
$background-color_2: #43ba7f;
$background-color_3: #ff511a;
$background-color_4: #282b2b;
$background-color_5: transparent;
$background-color_6: #f7f7f7;
$background-color_7: #faf7ef;
$background-color_8: #cbc3b0;
$background-color_9: #ffa88c;
$background-color_10: #212741;

/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import "https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900";
@import "https://fonts.googleapis.com/css2?family=Rochester&display=swap";

html {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: $font-family_1;
	font-weight: 400;
	background-color: $background-color_1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	font-family: $font-family_1;
}
body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: $font-family_1;
	font-weight: 400;
	background-color: $background-color_1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
	font-family: $font-family_1;
	overflow-x: hidden;
}
div {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	pre {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
	}
}
span {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
applet {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
object {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
iframe {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
h1 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	color: $color_1;
}
h2 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	color: $color_1;
}
h3 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	color: $color_1;
}
h4 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	color: $color_1;
}
h5 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	color: $color_1;
}
h6 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	color: $color_1;
}
p {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 15px;
	line-height: 26px;
	color: $color_1;
}
blockquote {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
a {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none !important;
}
abbr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
acronym {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
address {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
big {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
cite {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
code {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
del {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
dfn {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
em {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
font {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
img {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	width: 100%;
	overflow: hidden;
}
ins {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
kbd {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
q {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
s {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
samp {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
small {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
strike {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
strong {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
sub {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
sup {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
tt {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
var {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
b {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
u {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
i {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
center {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
dl {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
dt {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
dd {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
ol {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
ul {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
	list-style: none;
	margin-bottom: 0px;
}
li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
	list-style: none;
}
figure {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
header {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
}
nav {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
}
section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
	margin-top: 120px;
}
article {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
}
aside {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
}
footer {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	display: block;
	background-color: $background-color_4;
	text-align: center;
	padding: 100px 0px;
	h2 {
		font-size: 60px;
		font-weight: 700;
		color: $color_2;
		line-height: 80px;
		font-family: $font-family_3;
	}
	p {
		color: $color_2;
		font-weight: 300;
	}
	a {
		color: $color_2;
		border: 1px solid #fff;
		border-radius: 100%;
		width: 50px;
		height: 50px;
		padding: 10px;
		margin: 50px 10px;
		display: inline-block;
		&:hover {
			color: $color_2;
		}
	}
}
figcaption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
.clearfix {
	&:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
	display: inline-block;
}
html[xmlns] {
	.clearfix {
		display: block;
	}
}
* {
	html {
		.clearfix {
			height: 1%;
		}
	}
	box-sizing: border-box;
}
hgroup {
	display: block;
}
&::selection {
	background: #ff511a;
	color: $color_2;
}
&::-moz-selection {
	background: #ff511a;
	color: $color_2;
}
.white-button {
	a {
		font-size: 14px;
		color: $color_2;
		padding: 12px 30px;
		display: inline-block;
		border-radius: 5px;
		font-weight: 500;
		text-transform: capitalize;
		letter-spacing: 0.5px;
		transition: all .3s;
		border: 1px solid #fff;
		&:hover {
			opacity: 0.9;
		}
	}
}
.grey-button {
	a {
		font-size: 14px;
		color: $color_3;
		padding: 12px 30px;
		display: inline-block;
		border-radius: 5px;
		font-weight: 500;
		text-transform: capitalize;
		letter-spacing: 0.5px;
		transition: all .3s;
		border: 1px solid #5d5d5c;
		&:hover {
			opacity: 0.9;
		}
	}
}
.green-button {
	a {
		font-size: 14px;
		color: $color_2;
		background-color: $background-color_2;
		padding: 12px 30px;
		display: inline-block;
		border-radius: 5px;
		font-weight: 500;
		text-transform: capitalize;
		letter-spacing: 0.5px;
		transition: all .3s;
		&:hover {
			opacity: 0.9;
		}
	}
}
.orange-button {
	a {
		font-size: 14px;
		color: $color_2;
		background-color: $background-color_3;
		padding: 12px 30px;
		display: inline-block;
		border-radius: 5px;
		font-weight: 500;
		text-transform: capitalize;
		letter-spacing: 0.5px;
		transition: all .3s;
		&:hover {
			opacity: 0.9;
		}
	}
}
.section-heading {
	position: relative;
	z-index: 2;
	margin-top: 0px;
	text-align: center;
	margin-bottom: 70px;
	h6 {
		font-size: 16px;
		text-transform: uppercase;
		color: $color_4;
		font-weight: 700;
	}
	h4 {
		margin-top: 10px;
		line-height: 40px;
		font-size: 36px;
		font-weight: 700;
		text-transform: capitalize;
		color: $color_1;
	}
	p {
		margin-top: 30px;
	}
}
.background-header {
	background-color: $background-color_4;
	height: 80px !important;
	position: fixed !important;
	top: 0 !important;
	left: 0;
	right: 0;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15) !important;
	.main-nav {
		.logo {
			line-height: 80px;
			width: 90px;
		}
		.nav {
			li.has-sub {
				ul.sub-menu {
					li {
						&:last-child {
							a {
								margin-left: 0px;
								padding-left: 0px;
								padding-right: 0px;
								border-radius: 0px;
								padding-top: 0px !important;
								height: 40px;
								&:hover {
									padding-left: 25px !important;
								}
							}
						}
					}
				}
			}
			li {
				&:hover {
					a {
						color: $color_4;
						opacity: 1;
					}
				}
				a.active {
					color: $color_4;
					opacity: 1;
				}
			}
		}
		.menu-trigger {
			top: 23px;
			span {
				background-color: $background-color_1;
				&:before {
					background-color: $background-color_1;
					background-color: $background-color_1;
				}
				&:after {
					background-color: $background-color_1;
					background-color: $background-color_1;
				}
			}
		}
		.menu-trigger.active {
			span {
				&:before {
					background-color: $background-color_1;
				}
				&:after {
					background-color: $background-color_1;
				}
			}
		}
	}
	.nav {
		margin-top: 18px !important;
	}
}
.header-area {
	position: absolute;
	height: 110px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s;
	.main-nav {
		min-height: 80px;
		background: transparent;
		.logo {
			line-height: 120px;
			color: $color_2;
			font-size: 28px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 2px;
			float: left;
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-o-transition: all 0.3s ease 0s;
			transition: all 0.3s ease 0s;
		}
		.nav {
			float: right;
			margin-top: 40px;
			margin-right: 0px;
			background-color: $background-color_5;
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-o-transition: all 0.3s ease 0s;
			transition: all 0.3s ease 0s;
			position: relative;
			z-index: 999;
			li {
				padding-left: 25px;
				padding-right: 25px;
				&:last-child {
					padding-right: 0px;
					a {
						font-size: 14px;
						color: $color_2;
						padding: 10px 20px !important;
						display: inline-block;
						border-radius: 5px;
						font-weight: 500;
						text-transform: capitalize;
						height: auto;
						line-height: 25px;
						letter-spacing: 0.5px;
						transition: all .3s;
						border: 2px solid;
						&:hover {
							color: $color_2;
						}
					}
				}
				a {
					display: block;
					font-weight: 700;
					font-size: 14px;
					text-transform: uppercase;
					color: $color_2;
					-webkit-transition: all 0.3s ease 0s;
					-moz-transition: all 0.3s ease 0s;
					-o-transition: all 0.3s ease 0s;
					transition: all 0.3s ease 0s;
					height: 40px;
					line-height: 40px;
					border: transparent;
					letter-spacing: 1px;
				}
				&:hover {
					a {
						color: $color_4;
					}
				}
				a.active {
					color: $color_4;
				}
			}
			li.has-sub {
				ul.sub-menu {
					li {
						&:last-child {
							a {
								margin-left: 0px;
								padding-left: 0px;
								padding-right: 0px;
								border-radius: 0px;
								padding-top: 0px !important;
								height: 40px;
								&:hover {
									padding-left: 25px !important;
								}
							}
						}
						margin-left: 0px;
						padding-left: 0px;
						padding-right: 0px;
						a {
							opacity: 1;
							display: block;
							background: #f7f7f7;
							color: $color_5 !important;
							padding-left: 20px;
							height: 40px;
							line-height: 40px;
							-webkit-transition: all 0.3s ease 0s;
							-moz-transition: all 0.3s ease 0s;
							-o-transition: all 0.3s ease 0s;
							transition: all 0.3s ease 0s;
							position: relative;
							font-size: 12px;
							font-weight: 400;
							border-bottom: 1px solid #eee;
						}
					}
					position: absolute;
					width: 140px;
					background-color: $background-color_1;
					box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
					overflow: hidden;
					top: 40px;
					border-radius: 5px;
					opacity: 0;
					transition: all .3s;
					transform: translateY(+2em);
					visibility: hidden;
					z-index: -1;
				}
				position: relative;
				padding-right: 15px;
				&:after {
					font-family: $font-family_2;
					content: "\f107";
					font-size: 12px;
					color: $color_2;
					position: absolute;
					right: 2px;
					top: 12px;
				}
				ul {
					li {
						a {
							&:hover {
								background: #fff;
								color: $color_4 !important;
								padding-left: 25px;
								&:before {
									width: 3px;
								}
							}
						}
					}
				}
				&:hover {
					ul.sub-menu {
						visibility: visible;
						opacity: 1;
						z-index: 1;
						transform: translateY(0%);
						transition-delay: 0s, 0s, 0.3s;
					}
				}
			}
		}
		.menu-trigger {
			cursor: pointer;
			display: block;
			position: absolute;
			top: 33px;
			width: 32px;
			height: 40px;
			text-indent: -9999em;
			z-index: 99;
			right: 40px;
			display: none;
			span {
				-moz-transition: all 0.4s;
				-o-transition: all 0.4s;
				-webkit-transition: all 0.4s;
				transition: all 0.4s;
				background-color: $background-color_1;
				display: block;
				position: absolute;
				width: 30px;
				height: 2px;
				left: 0;
				top: 16px;
				&:before {
					-moz-transition: all 0.4s;
					-o-transition: all 0.4s;
					-webkit-transition: all 0.4s;
					transition: all 0.4s;
					background-color: $background-color_1;
					display: block;
					position: absolute;
					width: 30px;
					height: 2px;
					left: 0;
					-moz-transition: all 0.4s;
					-o-transition: all 0.4s;
					-webkit-transition: all 0.4s;
					transition: all 0.4s;
					background-color: $background-color_1;
					display: block;
					position: absolute;
					width: 30px;
					height: 2px;
					left: 0;
					width: 75%;
					content: "";
					-moz-transform-origin: 33% 100%;
					-ms-transform-origin: 33% 100%;
					-webkit-transform-origin: 33% 100%;
					transform-origin: 33% 100%;
					top: -10px;
					z-index: 10;
				}
				&:after {
					-moz-transition: all 0.4s;
					-o-transition: all 0.4s;
					-webkit-transition: all 0.4s;
					transition: all 0.4s;
					background-color: $background-color_1;
					display: block;
					position: absolute;
					width: 30px;
					height: 2px;
					left: 0;
					-moz-transition: all 0.4s;
					-o-transition: all 0.4s;
					-webkit-transition: all 0.4s;
					transition: all 0.4s;
					background-color: $background-color_1;
					display: block;
					position: absolute;
					width: 30px;
					height: 2px;
					left: 0;
					width: 75%;
					content: "";
					-moz-transform-origin: 33% 0;
					-ms-transform-origin: 33% 0;
					-webkit-transform-origin: 33% 0;
					transform-origin: 33% 0;
					top: 10px;
				}
			}
		}
		.menu-trigger.active {
			span {
				background-color: $background-color_5;
				width: 100%;
				&:before {
					background-color: $background-color_5;
					width: 100%;
					-moz-transform: translateY(6px) translateX(1px) rotate(45deg);
					-ms-transform: translateY(6px) translateX(1px) rotate(45deg);
					-webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
					transform: translateY(6px) translateX(1px) rotate(45deg);
					background-color: $background-color_1;
				}
				&:after {
					background-color: $background-color_5;
					width: 100%;
					-moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
					-ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
					-webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
					transform: translateY(-6px) translateX(1px) rotate(-45deg);
					background-color: $background-color_1;
				}
			}
		}
	}
	.nav {
		margin-top: 30px;
	}
}
.header-area.header-sticky {
	min-height: 80px;
	.nav {
		li {
			a.active {
				color: $color_2;
			}
		}
	}
}
.swiper-container {
	height: calc(100vh - 0px);
	margin: 0px;
	background-color: $background-color_4;
}
.swiper-slide {
	overflow: hidden;
}
.slide-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	background-position: center;
	.header-text {
		position: absolute;
		width: 50%;
		top: 50%;
		transform: translateY(-50%);
		h2 {
			position: relative;
			z-index: 2;
			font-size: 5vw;
			color: $color_2;
			font-weight: 700;
			opacity: 1;
			visibility: visible;
			line-height: 1.5;
			margin-bottom: 40px;
			font-family: $font-family_3;
			em {
				font-style: normal;
				color: $color_4;
			}
		}
		.div-dec {
			width: 80px;
			height: 6px;
			border-radius: 3px;
			background-color: $background-color_1;
			margin-bottom: 40px;
			opacity: 1;
			visibility: visible;
		}
		p {
			color: $color_2;
			margin-right: 60px;
			margin-bottom: 50px;
			opacity: 1;
			visibility: visible;
		}
		.buttons {
			display: inline;
			opacity: 1;
			visibility: visible;
			.green-button {
				display: inline;
				float: left;
				margin-right: 20px;
			}
		}
	}
}
.swiper-slide-active {
	h2 {
		animation: fadeInLeft .8s;
		-webkit-animation-delay: 1s;
		animation-delay: .3s;
		opacity: 1;
	}
	p {
		animation: fadeInRight .8s;
		-webkit-animation-delay: 1s;
		animation-delay: .3s;
		opacity: 1;
	}
	.div-dec {
		animation: fadeIn .8s;
		-webkit-animation-delay: 1s;
		animation-delay: .3s;
		opacity: 1;
	}
	.buttons {
		.green-button {
			animation: fadeInUp .8s;
			-webkit-animation-delay: 1s;
			animation-delay: .3s;
			opacity: 1;
		}
		.orange-button {
			animation: fadeInUp .8s;
			-webkit-animation-delay: 1s;
			animation-delay: .3s;
			opacity: 1;
		}
		.white-button {
			animation: fadeInUp .8s;
			-webkit-animation-delay: 1s;
			animation-delay: .3s;
			opacity: 1;
		}
	}
}
.swiper-button-next {
	color: $color_2 !important;
}
.swiper-button-prev {
	color: $color_2 !important;
}
section.services {
	margin-top: 90px;
}
.services {
	.service-item {
		border-radius: 5px;
		padding: 40px;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
		margin-top: 30px;
		&:hover {
			i {
				margin-top: 15px;
			}
		}
		h4 {
			font-size: 22px;
			font-weight: 600;
			margin-bottom: 20px;
		}
		i {
			transition: all .5s;
			float: left;
			font-size: 64px;
			color: $color_10;
			margin-bottom: 30px;
			margin-right: 30px;
		}
	}
}
section.story-section {
	background-image: url(../images/story-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	padding: 300px 0px;
	.left-image {
		margin-right: 45px;
	}
	h2 {
		font-size: 100px;
		font-weight: 700;
		color: $color_2;
		line-height: 120px;
		font-family: $font-family_3;
		em {
			font-style: normal;
			color: $color_10;
		}
	}
	h4 {
		strong {
			color: $color_4;
			font-weight: 700;
		}
	}
	p {
		color: $color_2;
		margin-top: 30px;
		margin-bottom: 40px;
	}
	.buttons {
		display: flex;
		justify-content: start;
		.orange-button {
			margin-left: 20px;
			margin-top: 25px;
		}
		.green-button {
			margin-top: 25px;
		}
	}
}
section.about-us {
	padding: 140px;
	background-color: $background-color_7;
	margin-top: 0;
	.about-img-contain {
		padding: 0 0 30px 30px;
		background-color: $background-color_8;
		img {
			transform: translate(30px, -30px);
		}
	}
	.right-content {
		.section-heading {
			padding: 10px 0;
			text-align: left;
			margin-bottom: 20px;
			h4 {
				font-size: 60px;
				font-weight: 700;
				color: $color_11;
				line-height: 80px;
				font-family: $font-family_3;
			}
		}
		margin-left: 60px;
		h4 {
			font-size: 22px;
			font-weight: 700;
			line-height: 40px;
		}
		p {
			margin-bottom: 50px;
		}
	}
}
section.testimonials {
	margin-top: 90px;
	.section-heading {
		padding-top: 30px;
		h4 {
			font-size: 60px;
			font-weight: 700;
			color: $color_11;
			line-height: 80px;
			font-family: $font-family_3;
		}
	}
}
.testimonials {
	.item {
		padding: 50px 320px 50px 50px;
		background-color: $background-color_1;
		position: relative;
		overflow: hidden;
		margin: 15px;
		padding-top: 35px;
		i {
			width: 70px;
			height: 70px;
			display: inline-block;
			text-align: center;
			line-height: 70px;
			color: $color_12;
			font-size: 44px;
			border-radius: 5px;
			margin-bottom: 30px;
		}
		p {
			font-size: 16px;
			font-style: italic;
		}
		h4 {
			margin-top: 30px;
			font-size: 22px;
			font-weight: 600;
			position: relative;
		}
		span {
			margin-top: 5px;
			display: block;
			font-size: 15px;
			font-weight: 600;
			color: $color_12;
		}
		img {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			max-width: 300px;
		}
	}
	.owl-dots {
		text-align: center;
		margin-top: 30px;
		.owl-dot {
			width: 10px;
			height: 10px;
			background-color: $background-color_9;
			border-radius: 50%;
			margin: 0px 4px;
		}
		.active {
			background-color: $background-color_3;
		}
	}
}
section.memories {
	background-color: $background-color_7;
	padding: 100px 0;
	.section-heading {
		padding-top: 30px;
		h4 {
			font-size: 60px;
			font-weight: 700;
			color: $color_11;
			line-height: 80px;
			font-family: $font-family_3;
		}
	}
}
.memories {
	.item {
		position: relative;
		overflow: hidden;
		margin: 15px;
		img {
			width: 100%;
			display: block;
		}
	}
	.owl-dots {
		text-align: center;
		margin-top: 30px;
		.owl-dot {
			width: 10px;
			height: 10px;
			background-color: $background-color_9;
			border-radius: 50%;
			margin: 0px 4px;
		}
		.active {
			background-color: $background-color_3;
		}
	}
}
.main-gallery {
	.gallery-item {
		margin-bottom: 30px;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	}
	.section-heading {
		h4 {
			font-size: 60px;
			font-weight: 700;
			color: $color_11;
			line-height: 80px;
			font-family: $font-family_3;
		}
	}
}
@media (max-width: 991px) {
	html {
		overflow-x: hidden;
	}
	body {
		overflow-x: hidden;
	}
	.mobile-top-fix {
		margin-top: 30px;
		margin-bottom: 0px;
	}
	.mobile-bottom-fix {
		margin-bottom: 30px;
	}
	.mobile-bottom-fix-big {
		margin-bottom: 60px;
	}
}
@media (max-width: 1200px) {
	.header-area {
		.main-nav {
			.nav {
				li {
					padding-left: 10px;
					padding-right: 10px;
				}
			}
			&:before {
				display: none;
			}
		}
	}
}
@media (max-width: 767px) {
	.header-area {
		.main-nav {
			.logo {
				color: $color_6;
				line-height: 100px;
			}
			overflow: hidden;
			.nav {
				float: none;
				width: 100%;
				display: none;
				-webkit-transition: all 0s ease 0s;
				-moz-transition: all 0s ease 0s;
				-o-transition: all 0s ease 0s;
				transition: all 0s ease 0s;
				margin-left: 0px;
				li {
					&:first-child {
						border-top: 1px solid #eee;
					}
					width: 100%;
					background: #fff;
					border-bottom: 1px solid #eee;
					padding-left: 0px !important;
					padding-right: 0px !important;
					a {
						height: 50px !important;
						line-height: 50px !important;
						padding: 0px !important;
						border: none !important;
						background: #f7f7f7 !important;
						color: $color_8 !important;
						&:hover {
							background: #eee !important;
							color: $color_4 !important;
						}
					}
				}
				li.has-sub {
					ul.sub-menu {
						position: relative;
						visibility: inherit;
						opacity: 1;
						z-index: 1;
						transform: translateY(0%);
						top: 0px;
						width: 100%;
						box-shadow: none;
						height: 0px;
						transition: all 0s;
						height: auto;
						display: none;
					}
					&:after {
						color: $color_9;
						right: 30px;
						font-size: 14px;
						top: 15px;
					}
				}
				li.submenu {
					ul {
						li {
							a {
								font-size: 12px;
								font-weight: 400;
								&:hover {
									&:before {
										width: 0px;
									}
								}
							}
						}
					}
					&:hover {
						ul {
							height: 0px;
						}
					}
					&:focus {
						ul {
							height: 0px;
						}
					}
				}
			}
		}
		background-color: $background-color_6;
		padding: 0px 15px;
		height: 100px;
		box-shadow: none;
		text-align: center;
		.container {
			padding: 0px;
		}
		.logo {
			margin-left: 0px;
			line-height: 80px;
		}
		.menu-trigger {
			display: block !important;
		}
	}
	.header-area.header-sticky {
		.nav {
			li {
				a {
					&:hover {
						color: $color_7 !important;
						opacity: 1;
					}
				}
				a.active {
					color: $color_7 !important;
					opacity: 1;
				}
			}
			li.search-icon {
				a {
					width: 100%;
				}
			}
			margin-top: 100px !important;
		}
	}
	.background-header.header-sticky {
		.nav {
			margin-top: 80px !important;
		}
	}
	.background-header {
		.main-nav {
			.logo {
				line-height: 80px;
			}
		}
	}
	.slide-inner {
		.header-text {
			p {
				display: none;
			}
			text-align: center;
			width: 80%;
			margin-left: 10%;
			margin-right: 10%;
			.div-dec {
				margin-left: auto;
				margin-right: auto;
			}
			.buttons {
				display: inline-flex;
				.green-button {
					float: none;
				}
			}
		}
	}
	.gallery {
		.service-item {
			i {
				margin-bottom: 35px;
			}
		}
	}
	section.about-us {
		ul.nacc {
			li {
				span.item-title {
					font-size: 14px !important;
				}
				span.item {
					font-size: 13px;
				}
			}
		}
		padding: 55px;
	}
	.testimonials {
		.item {
			i {
				margin-bottom: 60px;
			}
			img {
				max-width: 100px;
				right: 50px;
				top: 35px;
				transform: translateY(0);
			}
			padding: 50px;
		}
	}
	.memories {
		.item {
			i {
				margin-bottom: 60px;
			}
			img {
				max-width: 100px;
				right: 50px;
				top: 35px;
				transform: translateY(0);
			}
			padding: 50px;
		}
	}
}
@media (min-width: 767px) {
	.header-area {
		.main-nav {
			.nav {
				display: flex !important;
			}
		}
	}
}
@media (max-width: 992px) {
	.header-area {
		.main-nav {
			.nav {
				li {
					&:last-child {
						display: none;
					}
					ul {
						li {
							&:last-child {
								display: inline-block;
							}
						}
					}
				}
			}
		}
		background-color: $background-color_10;
	}
	.slide-inner {
		.header-text {
			width: 80%;
		}
	}
	.story-section {
		text-align: center;
	}
	section.story-section {
		.buttons {
			justify-content: center;
		}
	}
	section.about-us {
		.naccs {
			.menu {
				div {
					margin-right: 15px;
					font-size: 15px;
					padding: 15px 20px;
				}
			}
		}
		.right-content {
			margin-left: 0px;
			margin-top: 60px;
		}
		padding: 55px;
	}
	section.service-details {
		.naccs {
			.menu {
				div {
					margin-right: 15px;
					font-size: 15px;
					padding: 15px 20px;
				}
			}
		}
		ul.nacc {
			li {
				.left-image {
					position: relative;
					margin-right: 0px;
					transform: translateY(0px);
					img {
						border-radius: 15px;
					}
				}
				.right-content {
					padding: 50px;
					margin-left: 0px;
					h4 {
						margin-right: 0px;
					}
				}
				display: none;
			}
			li.active {
				display: inline-block;
			}
		}
	}
	section.calculator {
		.left-image {
			display: none;
		}
	}
	.testimonials {
		.item {
			img {
				max-width: 200px;
				right: 50px;
			}
		}
	}
	section.partners {
		.item {
			margin: 15px;
		}
	}
	section.top-section {
		.accordions {
			margin-left: 0px;
			margin-top: 45px;
		}
	}
	.what-we-do {
		.left-content {
			margin-right: 0px;
			margin-bottom: 45px;
		}
	}
	section.map {
		.info-item {
			margin-top: 30px;
		}
	}
}